@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('Montserrat-BoldItalic.ttf');
}
#heading {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:800;
    font-size: 40px;
    color: #173e3f;
    ;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #0E5E90;
}
h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #006466;
}
h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
}
main {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0;
    font-size: 30px;
    justify-content: center;
  }
embed {
    width: 500px;
    height: 400px;
}
a.resume {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    color: #214628 ;
}
blockquote {
    background: #ffffff;
    border-left: 10px solid #006466;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
blockquote p {
    display: inline;
  }
footer {
    text-align: right;
    color: black !important;
    background-image: url(images/favicon\ books\ \(3\).png);
}
.phonebig {
    position: absolute;
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition:width 0.3s linear 0s; z-index:10;
}
.emailbig {
    position: absolute;
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition:width 0.3s linear 0s; z-index:10;
}
.phone:hover + .phonebig {
    width: 40px;

}
.email:hover + .emailbig {
    width: 40px;
}
footer {
    font-size: 0.75em;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
      }
    .imageme {
        width: 100%;
    }
  }

@media screen and (max-width: 600px) {
    #heading {
        font-size: 25px;
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 15px;
    }
    embed {
        width: 100%;
    }
    p {
        font-size: 20px;
    }
}
@media screen and (max-width: 780px) {
    .main {
        font-size: 30px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    embed {
        width: 100%;
        height: auto;
    }
    .imageme {
        float: right;
    }
    .about {
        float: left;
    }
    .student {
        float: left;
    }
    .welcome {
        float: right;
    }
}
@media print {
    * {
        background: transparent !important;
        color: black !important;
        font-family:'Times New Roman', Times, serif;
        font-size: 14pt;
    }
    blockquote {
        font-family: Montserrat, sans-serif;
        font-size: 12pt;
    }
    .nav {
        display: none;
    }
   .resume {
        display: none;
    }
    embed {
        display: none;
    }
@page {
        margin: 1in;
    }
}